Source: sgf
Section: non-free:net
Priority: optional
Maintainer: Amok Berserker <amok@codestation.org>
Standards-Version: 3.1.1

Package: sgf
Architecture: i386
Depends: ${shlibs:Depends}
Description: sgf - absolutelly nesslesscary tool.
 sgf - does very much of very many different usefull things ... really.
